<%= form_tag( edit_user_show_path,:method => :get) do %>

    <div class="field">
      <%= label_tag :邮箱 %><br>
      <%= text_field_tag :email %>
    </div>
    <div class="field">
      <%= label_tag :手机号码 %><br>
      <%= text_field_tag :phonenumber %>
    </div>
    <div class="field">
      <%= label_tag :工作 %><br>
      <%= text_field_tag :job %>
    </div>
    <div class="actions">
      <%= submit_tag %>
    </div>
<% end %>
