<p id="notice"><%= notice %></p>

<p>欢迎, <%= current_user.username %></p>

<h1>申请记录列表</h1>
<table>
  <thead>
    <tr>
      <th>申请人类别</th>
      <th>申请项目</th>
      <th>鉴定时限</th>
      <th>艺术品类别</th>
      <th>鉴定机构</th>
      <th>操作状态</th>
      <% unless current_user.job=="申请人员" %>
          <th>订单来源</th>
      <% end %>
      <th>复核人员</th>
      <th>鉴定人员</th>
      <th>鉴定复核人员</th>
      <th>证书草拟人员</th>
      <th>证书发放人员</th>
      <th>证书绑定人员</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apply_records.each do |apply_record| %>
      <tr>
        <td><%= apply_record.personcategory %></td>
        <td><%= apply_record.item %></td>
        <td><%= apply_record.timelimit %></td>
        <td><%= apply_record.artcategory %></td>
        <td><%= apply_record.organization %></td>
        <td><%= apply_record.state %></td>
        <% unless current_user.job=="申请人员" %>
            <td><%= link_to apply_record.user,edit_user_othershow_path(:name=>apply_record.user) %></td>
        <% else %>
            <td>无</td>
        <% end %>
        <% unless apply_record.shenqingfuhe==nil %>
            <td><%=link_to apply_record.shenqingfuhe,edit_user_othershow_path(:name=>apply_record.shenqingfuhe) %></td>
        <% else %>
            <td>无</td>
        <% end %>
        <% unless apply_record.jianding==nil %>
            <td><%=link_to apply_record.jianding,edit_user_othershow_path(:name=>apply_record.jianding) %></td>
        <% else %>
            <td>无</td>
        <% end %>
        <% unless apply_record.jiandingfuhe==nil %>
            <td><%=link_to apply_record.jiandingfuhe,edit_user_othershow_path(:name=>apply_record.jiandingfuhe) %></td>
        <% else %>
            <td>无</td>
        <% end %>
        <% unless apply_record.zhengshucaoli==nil %>
            <td><%=link_to apply_record.zhengshucaoli,edit_user_othershow_path(:name=>apply_record.zhengshucaoli) %></td>
        <% else %>
            <td>无</td>
        <% end %>
        <% unless apply_record.zhengshufafang==nil %>
            <td><%=link_to apply_record.zhengshufafang,edit_user_othershow_path(:name=>apply_record.zhengshufafang) %></td>
        <% else %>
            <td>无</td>
        <% end %>
        <% unless apply_record.zhengshubangding==nil %>
            <td><%=link_to apply_record.zhengshubangding,edit_user_othershow_path(:name=>apply_record.zhengshubangding) %></td>
        <% else %>
            <td>无</td>
        <% end %>
        <td><%= link_to '显示', apply_record %></td>
        <td><%= link_to '编辑', edit_apply_record_path(apply_record) %></td>
        <td><%= link_to '删除', apply_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.job=="申请人员" %>
<%= link_to '添加申请表', new_apply_record_path %>
<% end %>