<!DOCTYPE html>
<html>
<head>
  <title>AIDSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if user_signed_in? %>
      当前用户：
      <% if current_user.username !=nil %>
          <%=current_user.username %>
      <% else %>
          <%=current_user.email %>
      <% end %>

      <%= link_to "退出",destroy_user_session_path,:method => :delete %>
      <%= link_to "个人中心",edit_user_index_path %>
      <%= link_to "主页",apply_records_path %>
  <% end %>

</head>
<body>

<%= yield %>

</body>
</html>
